<h2> <%= @recipe.name %></h2>

<dl>
  
      <dt>
        <strong>Ingredientes:</strong><%= @recipe.ingredients %>
      </dt><br>
      <dt>
        <strong>Mode de preparo:</strong><%= @recipe.cook_method %>
      </dt><br>
      <dt>
        <strong>Tempo de preparo:</strong><%= @recipe.cook_time %>
      </dt> 
          


</dl>